* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Start Header */

.header {
    background-color: black;
    padding: 20px;
    color: white;    
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: inline;
}

.nav {
    margin-right: 20px;
    display: inline;
    position: relative;
    left: 525px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid white;
    font-size: 16px;
    position: relative;
    left: 68em;
    border-radius: 1em;

}

.login-btn:hover {
    background-color: black;
    color: white;
}

/* End Header */